/* Universal Styles */
body {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  width: 960px;
}

/* Header */
header {
  background-color: black;
}

.header.container {
  display: flex;
  width: 960px;
  align-items: center;
  margin: auto;
  padding: 0.66rem 0;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header span {
  font-size: 1rem;
  color: white;
}

/* Banner */
.banner {
  background-image: url("../Images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.banner .container {
  display: flex;
  margin: auto;
}

.new {
  background-color: black;
  padding: 2rem 3rem;
  width: 20rem;
  position: relative;
  top: 9rem;
}

.new h4,
.new h1 {
  color: white;
  font-weight: bold;
}

.new h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.new h1 {
  font-size: 2rem;
}

/* Navigation */
nav {
  background-color: firebrick;
}

nav.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.75rem 0;
}

.container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* Products */

/* Location & Hours */

/* Footer */
